.DS_Store
*.pyc
tags
TAGS
*.swp
*.egg-info
.emacs.desktop
.#*
build
dist
*~
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/tramp
.zsh/cache
*.elc
.emacs.d/history
.emacs.d/site/nxhtml
.virtualenvs
.ipython
*.stackdump
node_modules/
Thumbs.db
desktop.ini
*.sublime-project
