.websheet-row {
    display: block;
    padding-right: 1px;
}
.websheet-row-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.websheet-cell {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #000;
    border-radius: 1px;
    box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.85);
    display: inline-block;
    font-size: 13px;
    height: 2em;
    margin-bottom: -1px;
    margin-right: -1px;
    position: relative;
    transition: box-shadow 0.15s, z-index 0.15s;
    z-index: 1;
}
.websheet-cell:focus {
    /*border-color: transparent;*/
    box-shadow: 0 0 0 7px rgba(51, 153, 255, 0.85);
    outline: none;
    z-index: 2;
}
.websheet-cell:last-child {
    border-right-width: 1px;
}
.websheet-row:last-child .websheet-cell {
    border-bottom-width: 1px;
}
