.websheet,
.websheet *,
.websheet *:before,
.websheet *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.websheet.websheet-grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.websheet-row {
    display: block;
    padding-right: 1px;
}
.websheet-row-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.websheet-cell-wrapper {
    border: 1px solid #000;
    display: inline-block;
    margin-bottom: -1px;
    margin-right: -1px;
    position: relative;
    z-index: 1;
}
.websheet-cell-wrapper.websheet-has-focus {
    border: 0;
    cursor: -webkit-grab;
    cursor: grab;
    margin: -6px -6px -6px -5px !important; /* sorry not sorry */
    padding: 6px;
    z-index: 2;
}
.websheet-cell-wrapper:last-child {
    margin-right: 0;
}
.websheet-row:last-child .websheet-cell-wrapper {
    margin-bottom: 0;
}

.websheet-cell {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-radius: 1px;
    box-shadow: 0 0 0 0 rgba(51, 153, 255, 0.85);
    display: block;
    font-size: 13px;
    height: 2em;
    transition: box-shadow 0.15s, z-index 0.15s;
    width: 100%;
}
.websheet-cell:focus {
    border: 0 solid rgb(51, 153, 255);
    box-shadow: 0 0 0 7px rgba(51, 153, 255, 0.85);
    outline: none;
}

.websheet-cell-wrapper:after {
    background: rgb(51, 153, 255);
    border: 2px solid white;
    border-radius: 4px;
    bottom: 5px;
    content: "";
    display: block;
    height: 5px;
    opacity: 0;
    position: absolute;
    right: 5px;
    transition: bottom 0.25s, right 0.25s, opacity 0.1s;
    width: 5px;
}

.websheet-cell-wrapper.websheet-has-focus:after {
    bottom: -4px;
    cursor: crosshair;
    opacity: 1;
    right: -4px;
}

.websheet-cell-hover input {
    background: rgb(51, 153, 255);
    color: #fff;
}
